body {
    font-family: 'Germania One';
    color: whitesmoke;
    background-color: black;
}
body header {
    text-align: center;
    padding: 0;
}

body header img {
    width: 100%;
}

body nav {
    position: sticky;
    top: 0;
    background: black;
    border-color: rgb(36, 34, 34);
    border-style: inset;
    padding: none;
    z-index: 1;
      
}

body .sticky ul {
    text-align: center;
    display: flex;
    justify-content: space-around;

}

body nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

body nav ul li a{
    text-decoration: none;
    color: whitesmoke;
   
}

footer nav {
    padding: 0;
    display: flex;
    flex-direction: column;

}

footer nav ul {
    list-style: none;
    text-align: left;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: none;
    
}

footer nav ul a {
    color: whitesmoke;
}

footer nav ul li{
    display: block;
    font-size: 30px;
}

#section5 {
    display: inline-block;
}

section {
    padding: 20px;
    padding-top: 40px;

}

#section4 {
    text-align: center;
    box-sizing: border-box;
}

#section4 h2 {
    text-align: initial;
}

#section3 ul {
    list-style: none;
}

#section3 ul li {
    position: relative;
    display: inline-block;
}

#section3 ul li:hover p {
    display: block;
    background: #ffffff59;
}



#section3 ul li p {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
    text-align: center;
    display: none;
}

#section3 ul li .banda {
    top: 10px;
}

#section3 ul li .disco {
    top: 25px;
}

#section3 ul li .anio {
    top: 40px;
}

#section3 ul li .edicion {
    top: 55px;
}
